<div class="content-wrap">
    <section>
        <h2 style="margin-left: 2%">
            NOVEDADES
        </h2>
        <hr class="my-3" style="margin-left:20px; margin-right: 20px; margin-bottom: -10px;">

        <div fxLayout="row" fxLayoutAlign="space-evenly none">
            <div *ngFor="let item of novedades"style="width: 150px; height:150px" class="card tarjeta" [routerLink]="['/juego/',item.id]">
                <img src="{{item.portada}}" alt="" class="card-img-top" style=" max-width:100%; max-height:100%;">
                <div class="card-body cuerpo">
                    <h6 class="card-title titulo">{{item.nombre}}</h6>
                </div>

            </div>
        </div>
        <h6 style="margin-left: 2%; margin-top:5%">
            RESEÑAS POPULARES
        </h6>
        <hr class="my-3" style="margin-left:20px; margin-right: 20px; margin-bottom: -20px;">
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile *ngFor="let item of datosResenas">
                <mat-card class="example-card" >
                <mat-card-header fxLayout="row">
                  <div class="imagen-resena">
                    <img src="{{item.juego.portada}}" alt="" class="imagen-resena">
                  </div>
                  <div fxLayout="column">
                    <div fxLayout="row">
                        <div class="foto-perfil">
                            <img  src="{{item.usuario.img_perfil}}" alt="">
                        </div>
                        <p >
                            <strong>
                                {{item.usuario.nickname}}
                            </strong>
                        </p>
                    </div>
                        <h3  [routerLink]="['/juego/',item.juego.id]">
                            {{item.juego.nombre}}
                        </h3>
                        <ngx-stars [readonly]="true" [initialStars]="item.resena.puntuacion"></ngx-stars>
                  </div>
                </mat-card-header>
                <mat-card-content>
                   <p>{{item.resena.texto}}</p>
                </mat-card-content>
                <mat-card-footer fxLayout="row">
                    <button mat-icon-button (click)="like(item.resena)">
                        <mat-icon *ngIf="!isliked(item.resena.id)">favorite_border</mat-icon>
                        <mat-icon style="color: red;" *ngIf="isliked(item.resena.id)">favorite</mat-icon>
                    </button>
                    <p>{{item.resena.num_likes}} likes</p>

                </mat-card-footer>
              </mat-card>

            </mat-grid-tile>
              
        </mat-grid-list>


    </section>
</div>

