.tarjeta{background-color:#2e3a50;}
.tarjeta .cuerpo{ 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    }
.titulo{
    font-size: small;
}

.tarjeta:hover {
    /* Estilos cuando el ratón está sobre la tarjeta */
    cursor: pointer; /* Cambiar el cursor a una mano para indicar que es clickable */
    border: 1px solid blue; /* Ejemplo: un borde azul al pasar el ratón por encima */
  }