
.content-wrap { 
    margin-left: 5%;
    margin-top: 4%;
    margin-bottom: 10%;
}

.img-perfil img{
    max-width: 145px;
    max-height: 115px;
    border-radius: 50%;

}

.dialogo {
    background-color: rgb(36, 49, 77);
    color: white;
}

.footer-tarjeta{
    padding: 5px;
    margin-left: 10px;
}

.imagen-resena img{
    max-width: 115px;
    max-height: 100px;
}

h3:hover{
    cursor: pointer;
    color: aqua;
}

.num-estadisticas:hover{
    cursor: pointer;
    color: aqua;
}