<div class="content-wrap" >
    <div fxLayout="column" >
        <div fxLayout="row" style="color:white;">
            <div *ngIf="usuario" style="width: 70%;" fxLayout="row" class="info-usuario">
                <div class="img-perfil">
                    <img  src="{{usuario.img_perfil}}" alt="" class="img-perfil">
                </div>
                <div fxLayout="column">
                    {{usuario.nickname}}
                    <button *ngIf="isYourUser" [routerLink]="['/settings']">
                        <label>EDITAR PERFIL</label> 
                    </button>
                    <button *ngIf="isYourUser" (click)="salir()">
                        <label>CERRAR SESION</label> 
                    </button>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="end center" class="estadisticas">
                <div fxLayout="column" [routerLink]="['/juegos/',uid]" class="num-estadisticas" fxLayoutAlign="center center" style="margin-right:30px">
                    <p>{{num_jugados}}</p>
                    <p>JUGADOS</p>
                </div>
                <div fxLayout="column" [routerLink]="['/listas/',uid]" class="num-estadisticas" fxLayoutAlign="center center" style="margin-right:30px">
                    <p>{{num_listas}}</p>
                    <p>LISTAS</p>
                </div>
                <div fxLayout="column" [routerLink]="['/resenas/',uid]" class="num-estadisticas" fxLayoutAlign="center center">
                    <p>{{num_resenas}}</p>
                    <p>RESENAS</p>
                </div>
            </div>
        </div>
        <div>
            <div fxLayout="row" style="margin-left: 2%; margin-top:5%">
                <h6 style="color: white;">
                    LISTAS
                </h6>
                <button style="width: 20px; height: 20px; top: -20px;" *ngIf="isYourUser" mat-icon-button (click)="openDialogNewLista()" className="btn">
                    <mat-icon style="color: white;" >add</mat-icon>
                </button>
                <p style="color: white; margin-left: 20px;">Crea una lista</p>
            </div>

            <hr class="my-3" style="margin-left:20px; margin-right: 20px; margin-bottom: -60px;">
            <div *ngIf="listas">
                <mat-grid-list cols="3" rowHeight="2:1" *ngIf="listas">
                    <mat-grid-tile *ngFor="let entry of listas">
                        <componente-lista [lista]="entry"></componente-lista>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>

        <div>
            <h6 style="color:white;margin-left: 2%; margin-top:5%">
                RESEÑAS
            </h6>
            <hr class="my-3" style="margin-left:20px; margin-right: 20px; margin-bottom: -20px;">
            <mat-grid-list cols="2" rowHeight="2:1"  *ngIf="resenas">
                <mat-grid-tile *ngFor="let entry of resenas">
                    <resena [resena]="entry" [user]="usuario" [stateAuth]="stateAuth"></resena>

                </mat-grid-tile>
                  
            </mat-grid-list>
        </div>

    </div>
</div>



