li {
    display: inline;
    padding: 8px;
    color: white;

  }
  
  a {
    
  }
  header{height: 12vh;
        width: 100vw;}

  .navbar{color: transparent; 
      position: absolute; 

      display: flex;
      padding: 10px;
      justify-content: space-between;
      width: 100%;
      box-sizing: border-box;
      align-items: center;
      font-weight: bold;}
    

.navbar .nav-links ul {
  display: flex;
}

.navbar .nav-links ul li {
  margin: 0 25px;
}


.navbar .menu {
    display: none;
    position: absolute;
    width: 35px;
    top: 15px;
    right: 30px;

}

@media screen and (max-width: 800px) {
  .navbar{padding: 0;}
  .navbar .menu{display: block;}

  .navbar .logo {
      position: absolute;
      top: 50px;
      left: 50px;
  }

  .nav-links{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(255, 255, 255, 0.164);
    backdrop-filter: blur(8px);
    transition: all 0.5s ease;
    margin-left: -100%;


  }
  .nav-links.ocultar{margin-left: 0  !important;}


  

  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar .nav-links ul li {
    margin: 25px 0px;
  }

}

body { 
  min-height: 100vh; }

/* Estilos para el footer */

.footer {
  background-color: #000239;
  padding: 20px 0;
  bottom:0px;
  width: 100%;
}



.footer-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-text {
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 1.6;
}

.social-media {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.social-media li {
  display: inline-block;
  margin-right: 10px;
}

.social-media li a {
  color: #666;
  font-size: 20px;
  transition: color 0.3s ease-in-out;
}

.social-media li a:hover {
  color: #333;
}



.footer-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links li a {
  color: #666;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer-links li a:hover {
  color: #333;
}

.footer-contact {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-contact li {
  margin-bottom: 10px;
}

.footer-contact li i {
  margin-right: 10px;
  color: #666;
}

.footer-contact li a {
  color: #666;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer-contact li a:hover {
  color: #333;
}




    



