<body>
  <nav class="navbar">
<p [routerLink]="['/']">LOGO</p>
    <!-- Links -->
    <div class="nav-links" [ngClass]="{'ocultar':margen}">
    <ul >
       <!----> 
      
      <li class="active" [routerLink]="['/']"></li>
      <li class="active" [routerLink]="['/misjuegos']">Mis juegos</li>
      <li class="active" [routerLink]="['/resenas']">Reseñas</li>
      <li class="active" [routerLink]="['/perfil']">Mi perfil</li>

    </ul>

  </div>
  <i class="bi bi-list menu"style="color: white;" (click)="toggleMenu()"></i>
  
  </nav>
  <header></header>
  
  <router-outlet></router-outlet>
</body>

