<body>
  <nav class="navbar">
    <a class="logo" href="/">LOGO</a>
    <!-- Links -->
    <div class="nav-links" [ngClass]="{'pene':margen}">
    <ul >
       <!----> 
      
      <li  class="active" >
        <a href="/">Inicio</a>
      </li>
      <li class="active">
        <a  href="/misjuegos">Mis juegos</a></li>
      <li class="active">
        <a  href="/perfil">Reseñas</a></li>
        <li class="active">
          <a  href="/perfil">Mi perfil</a></li>

    </ul>

  </div>
  <i class="bi bi-list menu"style="color: white;" (click)="toggleMenu()"></i>
  
  </nav>
  <header></header>
  
  <router-outlet></router-outlet>
</body>

