.content-wrap{width: 1000px;margin:0 auto;}

.content{
    margin-left: 2%
}

.image-button{
    border: none;
    background-color: transparent;
    padding: 0;

}
.image-button:focus {
    outline: none;
  }

.img-perfil img{
    max-width: 115px;
    max-height: 115px;
    border-radius: 50%;

}


.imagen:hover{
    cursor: pointer;
    border-style: solid;
    border-width: 3px;
    border-color: aqua;
} 

.campo-invalido {
    color: red;
  }