<div class="contenedor" [ngStyle]="getBackgroundImageStyle()">
    <div fxLayout="row">
        <div fxLayout="column">
            <div>
                {{juego.nombre}}
            </div>
            <div>
                Descripcion

            </div>
            <div>
                <p>
                    {{juego.descripcion}}
                </p>
            </div>
            <div>
                GALERIA DE IMAGENES TODO
            </div>


        </div>
        <div fxLayout="column">
            <mat-card>

                <mat-card-content>
                      <button (click)="openDialogAddLista()"> Añadir a lista </button>
                      <button (click)="like()">Dar me gusta</button>
                      <button (click)="marcarJugado()">Marcar como jugado</button>
                    <div fxLayout="row">
                        <button mat-icon-button (click)="like()">
                        <mat-icon>{{ isLiked ? 'favorite' : 'favorite_border' }}</mat-icon>
                      </button>
                      <button mat-icon-button (click)="marcarJugado()">
                        <mat-icon [ngClass]="{'outlined-icon': !jugado}">sports_esports</mat-icon>
                      </button>
                      <button mat-icon-button (click)="openDialogResena()">
                        <mat-icon >edit_note</mat-icon>
                      </button>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <p>{{puntuacion}}</p>
                    <ngx-stars [readonly]="true" [initialStars]="puntuacion"></ngx-stars>
                </mat-card-content>
            </mat-card>
            
        </div>   
        

    </div>

</div>