.lista:hover{
    cursor: pointer;
    
}

.imagen-juegos{
    max-width: 120px; 
    max-height:92px;
    border-radius: 5%;
}


.clase1{
    z-index: 5;
    
}

.clase2{
    z-index: 4;
    margin-left:-60px;
}

.clase3{
    z-index: 3;
    margin-left:-60px;
}
.clase4{
    z-index: 2;
    margin-left:-60px;
}
.clase5{
    z-index: 1;
    margin-left:-60px;
}

.sin-juego{
    width: 120px; 
    height:68px;
    border-radius: 5%;
    background-color: black;
}